<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find myrobot_control)/config/myrobot_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" 
    respawn="false"
    output="screen" ns="/myrobot" args="joint_state_controller    right_Wheel_effort_controller
      left_Wheel_effort_controller"/>


  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find myrobot_description)/urdf/myrobot.xacro'" />
    <remap from="/joint_states" to="/myrobot/joint_states" />
  </node>

</launch>


